body
{
	margin: 0px;
}
header
{
	height:70px;

	width: 100%

    z-index: 10;
}
.parentlevel
{
	height: 70px;
	position: fixed;
	width: 100%;
	z-index: 10;
}
.container
{
	background: #d1dede;

	height: 70px;

	width: 100%;
	
}
.navigationbar
{
	margin-left: 500px;
}
.firstlevel
{
	float: left;
	height: 70px;
	position: absolute;
	width: 20%;
}
.firstlevel > img
{
	float: left;
	height: 50px;
	padding: 10px;
	position: absolute;
	width: 50%;	
}

.menuwrap
{
	background:#d1dede;
	float: right;

	margin-right: 0px;
	position: relative;
	width: 75%;

}
.menuwrap > li 
{
	background:#d1dede;
	border-style: solid;
    border-color: white;
    border-radius: 25px;

    display:inline-block;

    float:left;
    font-size:19px;

    height: 70%;

    list-style-type: none;

    margin:10px 0px;

    padding: 0PX 20px;
    position:relative;

    text-align: center;
}

.menuwrap > li:last-child
{
	border-style: none;

	margin-left: 40px;
	margin-top: 5px;
}
.menuwrap > li:hover
{
	background-color:#CEFAFA;
}
.menuwrap > li > a 
{
	color:  #077877;

    text-decoration: none;
    
}
.menuwrap
{
	height: 70px;
}
.sub-menu
{
	text-decoration: none;
     list-style-type: none;
     margin: 0px;
     margin-left: -25px;
     opacity: 0;
     padding-left: 0px;
     position: absolute;

}

.sub-menu > li
{
  	padding: 5px 25px; 
	


}

.sub-menu > li > a
{
      text-decoration: none;
      color: #077877;
     list-style-type: none;
     position: relative;
     padding-left: 0px;
    margin-left: 0px;
}

.menuwrap > li:hover ul
{
	opacity: 1;
	background: white;
	z-index:10;
}
.servicecontainer
{
	position: relative;
	background: white;

	height: 300px;
}
.service
{
	float: left;
	background: white;
	position:relative;

	font-family: cursive;

	margin :100px 70px 0px 50px;
}
.subservice
{
	float: right;
	padding: 0;
	font-style: italic;
	font-size: 14px;
	position: relative;

     margin:  150px 70px;

	background: white;
}
.subservice li
{
	display: inline;
    margin-bottom: 50px;
}
.subservice li a
{
	text-decoration: none;
	color: #077877;
}
.subservice a:after
{
	content: '\\';
	
}
.subservice li:last-child a:after
{
	content:none;
}

/*2 column*/


article
{
	height: 500px;
}


.imgcontainer
{
	float: left;
	margin: 50px 10px 0px 150px;
	
}
.firstarticle
{
	float:right;
	width: 40%;
	margin:50px 100px;
	height: 300px;
	position: relative;
}
a{
	color: #276056;
}
.content
{
	font-family: cursive;
	margin: 10px;

}
.content p
{
		display: block;
		position: relative;
}
article h2
{
	margin-top:0px;
	margin: 10px;
}
.firstaanchor a
{
text-decoration: none;
margin-left: 5px;
}
.firstaanchor
{
	margin:10px;
}
.content a
{
	text-decoration: none;
	margin-left: 0%;
}



/*article2 column*/


.imgcontainer1
{
	float: right;
	margin: 70px 70px 0px;	
}

.firstarticle1
{
	float:left;
	width: 40%;

	margin: 70px 150px 0px;
	height: 300px;
	position: relative;

}

a{
	color: #276056;
}

.content1
{
	font-family: cursive;
	margin: 10px;

}
.content1 p
{
		display: block;
		position: relative;
}
.firstaanchor1 a
{
text-decoration: none;
margin-left: 5px;
}
.firstaanchor1
{
	margin:10px;
}
.content1 a
{
	text-decoration: none;
	margin-left: 0%;
}
/*table*/

.threecontainer
{
	width: 100%;
	height: 700px;
	background: #eafafa;

}
.threecontainer  img
{
	width: 500px;
	height: 350px;
}
.para
{
	font-family: Lato,sans-serif;
	padding: 40px;
}
.column
{
	display: block;
	text-align: center;
}
.column h2
{
	font-family: Lato,sans-serif;
}
/*hero image*/
.hero img
{
	width: 70%;
	align-self: center;
	position: relative;
	border-radius: 20px;

	margin: 10% 15%;

}
.hero
{
	width: 100%;
	margin: 0px;
	height: 700px;

	text-align: center;

	background-image: url("../img/pic5.jpg");
	background-size: 100% 700px;
	background-repeat: no-repeat;

	border-radius: 20px;
}
.hero h2
{
     text-align: center;
	font-family: cursive,sans-serif;

	color:#53e4cb;

	padding: 20px;
}
.hero > a.button
{
    text-align: center;
	text-decoration: none;
	color: #53e4cb;
}

/*footer*/
footer
{
	background: #899090;
	color: white;
}
.footercolumn
{
	margin-left: 220px;
}
.signup
{
	font-family: cursive;
	margin-left: 100px;
}
.signup img
{
	width: 30px;
	height: 30px;
}
/*frame*/
iframe{
	width: 100%;
	height: 650px;
	margin-top: 70px;
}

